@import "tailwindcss";

:root {
  --background: #c3d3e8;
  --foreground: #080808;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161616;
    --foreground: #ededed;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  @apply bg-background text-foreground antialiased font-medium;
}

p {
  @apply text-justify leading-loose;
}

.main-container {
  @apply relative mx-auto flex min-h-screen max-w-3xl flex-col px-6;
}
